body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}
#site-container {
    background-color: #101010;
    transition: background-color 0.1s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.byte-container {
    display: flex;
}
.bit {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: black;
    border: 2px solid white;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    cursor: pointer;
    user-select: none;
    color: white;
    transition: 0.2s;
}
.active {
    background-color: white;
    color: gray;
    transition: 0.1s;
}
.stopwatch {
    margin-top: 20px;
    font-size: 18px;
}

#timer {
    font-size: 32px;
}

#timer-ms {
    font-size: 22px;
}

#reset-btn {
    color: white;
    width: 100px;
    height: 40px;
    font-size: 20px;
    background-color: #101010;
    border: 2px solid white;
    user-select: none;
    transition: 0.2s;
}

#reset-btn:hover {
    background-color: #505050;
}

h2 {
    font-size: 40px;
}
h3 {
    font-size: 32px;
}
p {
    font-size: 18px;
}
.prepend {
    color: #444;
}

#mode-container {
    display: block
}

.mode-btn {
    display: inline-block;
    width: 120px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    border: white solid 2px;
    margin: 0 10px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

.mode-btn:hover {
    background-color: #505050;
}

.mode-btn.active {
    background-color: white;
    color: gray;
}